* {
	font-family: 'Roboto', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

section {
	margin-top: 4rem;
}

.title {
	border-radius: 0 1.5rem 0 0;
}

.language {
	border-radius: 1.5rem 0 0 0;
	box-shadow: 0 0 0 0.2rem black inset;
}

.github {
	border-radius: 0 0 1.5rem 1.5rem;
}

.w3-card {
	border-radius: 1.5rem;
}

#home {
	margin-top: 0em;
	background-image: url('https://via.placeholder.com/3456x1944');
	background-attachment: fixed;
	background-position: center;
	background-position-y: 0;
  	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}