* {
	font-family: 'Roboto', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

.language {
	margin: 0.2em;
	margin-top: 0.25em;
	padding: 0.1em;
	border: 0.15em solid;
	border-radius: 9px;
}

#home {
	background-image: url('img/home.jpg');
	background-attachment: fixed;
	background-position: center;
	background-position-y: 0;
  	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}